<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>ButtonNodeScene</string>
	<string>ScrollNodeScene</string>
	<string>TouchHandlingScene</string>
	<string>TouchHandlingScene2</string>
	<string>TreeOrderManipulationScene</string>
</array>
</plist>
